.swiper-container {
  display: flex;
  justify-content: center; /* Center the grid horizontally */
  margin: 20px;
  padding: 20px;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allows slides to wrap to the next line */
  justify-content: center; /* Center the items along the main axis with equal space around them */
  margin: 10px;
}

.swiper-slide {
  width: 288px; /* Set the fixed width for each card */
  height: 342px; /* Set the fixed height for each card */
  margin: 5px; /* Adjust the margin to reduce space between cards */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  height: 320px;
}

.card img {
  width: 249px;
  height: 161px;
  object-fit: cover;
  border-radius: 25px;
}

.card-content {
  padding: 10px;
  flex-grow: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button.active {
  border-bottom: 3px solid #6251A3;
  padding-bottom: 3px;
  color: #6251A3;
}

pagination:hover {
  font-weight: bold;
}

.card {
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 20px;
}

.navigation {
  opacity: 0.7;
}

.navigation:hover {
    opacity: 1;
    font-weight: bold;
}