.connector-line1 {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 52%;
  /* Adjust the left position as needed */
  width: 3px;
  /* Adjust the width as needed */
  background-image: linear-gradient(transparent 50%, #979393 50%);
  background-size: 100% 15px;
  /* Adjust the height and spacing of the dots as needed */
  height: 12%;
  /* Add this line to ensure the connector line covers the full height */
}

.connector-line2 {
  position: absolute;
  top: 58%;
  bottom: 0;
  left: 52%;
  /* Adjust the left position as needed */
  width: 3px;
  /* Adjust the width as needed */
  background-image: linear-gradient(transparent 50%, #979393 50%);
  background-size: 100% 15px;
  /* Adjust the height and spacing of the dots as needed */
  height: 12%;
  /* Add this line to ensure the connector line covers the full height */
}